<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/slide.js"></script>
    <title>역시민균이다..</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary">
		<a class="navbar-brand" href="/" style="color:white; font-size: 28px;">LCK.GG</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-5">
			<li class="nav-item dropdown" style="margin-right: 30px;">
				<a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span id="menumouseover">Ranking</span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/rank/team">Team Ranking</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="/rank/pog">MVP Ranking</a></li>
				  </ul>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/t_match" style="color: white;" id="menumouseover">Today's MatchUp</a>
			  </li>
		  </ul>
		</div>
	  </nav>
{% block content %}
{% endblock %}
</body>
</html>