{% extends 'index.html' %}
{% block content %}
<body>
	<table class="table" style="text-align: center;">
        <caption style="text-align: center;">파란색: 4강 PO 진출 | 녹색: 6강 PO 진출 | 노란색: 포스트시즌 진출 실패 | 볼드체: 순위 확정</caption>
        <thead class="table-light">
            <tr>
                <th scope="col">순위</th>
                <th scope="col">팀</th>
                <th scope="col">승</th>
                <th scope="col">패</th>
                <th scope="col">세트 득실</th>
                <th scope="col">득실차</th>
                <th scope="col">연속</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">1</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">2</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-success">
                <th scope="row">3</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-success">
                <th scope="row">4</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-success">
                <th scope="row">5</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-success">
                <th scope="row">6</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">7</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">8</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">9</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">10</th>
                <td>Team</td>
                <td>win</td>
                <td>lose</td>
                <td>set+-</td>
                <td>win points</td>
                <td>+3</td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock %}