{% extends 'index.html' %}
{% block content %}
<body>
    
    <table class="table" style="text-align: center;">
        {% for i in data %}
        <br /><br /><br /><br />
        <tbody>
            <tr class="table-primary" width=40>
                <td>{% if i[0] == 1 %}
                    {{ "match 1" }} 
                {% elif i[0] == 2 %} 
                    {{ "match 2" }}
                {% endif %}</td>
                <td><img src="../static/image/match/match_{{ i[1] }}.jpg" id="match_teamimage">{{ i[1] }}</td>
                
                <td><img src="../static/image/match/match_{{ i[2] }}.jpg" id="match_teamimage">{{ i[2] }}</td>
                
            </tr>
        </tbody>
        {% endfor %}
</body>

{% endblock %}